common --experimental_repo_remote_exec
common --nocheck_visibility
build:oss --override_module=torch_tpu=%workspace%/third_party/torch_tpu_stub
build --action_env=CC=clang-18
build --action_env=CXX=clang++-18
build --repo_env=CC=clang-18
